<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
    <h1>Users</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>fName</th>
            <th>lName</th>
            <th>Email</th>
        </tr>
        <tr th:each="user : ${users}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.fName}"></td>
            <td th:text="${user.lName}"></td>
            <td th:text="${user.email}"></td>
        </tr>
    </table>
</body>
</html>